.load__wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.btn {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    color: #ececec;
    border: 1px solid #ececec;
    background-color: transparent;
    transition: border-color 0.3s;
    background-color: #14abf1;
}

.btn:hover {
    border: 1px solid #61d6fb;
    background-color: #1039f0;
}
